<div class="form-group">
    <label for="file">Choose File</label>
    <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
</div>
  <button (click)="uploadFileToActivity()">submit</button>

  <br>
  <br>
  <button (click)="downloadfile()">Download</button>
  <br>
  <button (click)="showfile()">ShowFile</button>
<br>
  <div *ngIf="trigger">
  <img src="http://localhost:3000/api/show" style="width:200px;height:200px">
</div>
<router-outlet></router-outlet>